*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  color: white;
}
body{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header{
  background: #111;
  display: flex;
  flex-direction: column;
  height: 30vh;
  
}
header nav a {
  text-decoration: none;
  color: gold;
  font-size:50px;
}



@media(max-width: 768px) {


}