*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

 #logo_name{
    width: 100px;
    margin-right: 60px;
  }
  
  .hero {
      background: #111;
      padding: 30px 0;
      border-bottom: 3px solid white;
  }
  
  .hero nav{
    margin-top: 20px;
  }
  
  .hero nav a {
      text-decoration: none;
      color: white;
      font-size: 18px;
      padding: 10px 15px;
      border-radius: 5px;
      transition: all 0.3s ease;
  }
  
  .hero nav a:hover {
      background: gold;
      color: black;
  }
  
   #voltar{
  
      position: absolute;
  
      left: 10px;
      margin-top: 50px;
      background: gold;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      text-decoration: none;
      color: black;
      transition: 0.3s;
  } 
  
  #voltar:hover{
      color: white;

  }
  
  body{
    background-color: #111;
    color: white;
    text-align: center;
}

 .main{
   margin: 0 auto;
   margin-top: 60px;
   padding: 10px;
   width: 90%;
   height: auto;
   gap: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 
  .escolha-barbeiro{
    padding: 30px;
   
    box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.5);
    border-radius: 10px;
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .escolha-barbeiro form{
   width: 100%;
    display: flex;
    flex-direction: column;
      align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .escolha-barbeiro form select{
    border-radius: 10px;
 
    padding: 10px;

    width: 80%;
  }
  
  /* comeca em data ate o usuario*/
  
  
  .agendamento{
    
     padding: 10px;
     width: 100%;
     display: flex;
     flex-direction: column;
  }   
  
  .data{
         display: flex;
         flex-direction: column;
         padding: 30px;
         box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.5);
         border-radius: 10px;
         align-items: center;
         justify-content: center;
         gap: 20px;
    }
  
 .data form{
     width: 100%;
    display: flex;
    flex-direction: column;
      align-items: center;
    justify-content: center;
    
 }
 
 /*input*/ 
#data{
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  text-align: center;
}
       
   .hora{
         display: flex;
         flex-direction: column;
         padding: 30px;
           box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.5);
         border-radius: 10px;
         border: 1px solid black;
         align-items: center;
         justify-content: center;
         gap: 20px;
    }
  
 .hora form{
       width: 100%;
       
 }
 
 .hora select{
    padding: 10px;
    width: 90%;
    border-radius: 10px;
 }
 
   .servicos{
         display: flex;
         flex-direction: column;
         padding: 30px;
         border: 1px solid black;
         align-items: center;
           box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.5);
         border-radius: 10px;
         justify-content: center;
         gap: 20px;
    }
  
 .servicos form{
       width: 100%;
      
 }
 
 .servicos select{
    padding: 10px;
    width: 90%;
    border-radius: 10px;
 }
 
 .dados-cliente{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 
 .dados{
     box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.5);
         border-radius: 10px;
   width: 90%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 15px;
   height: 30vh;
   
 }
 .dados input{
   padding: 5px;
   width: 90%;
 }
 .dados-cliente button{
   margin-top: 10px;
   padding: 30px;
   border-radius: 7px;
   background-color: gold;
   color: black;
   cursor: pointer;
   transition: 0.3s;
 }
  .dados-cliente button:hover{
    color: white;
  }