*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', bold, Sans-Serif;
}
    #logo_name{
    width: 100px;
    margin-right: 60px;
  }
  .hero {
      background: #111;
      padding: 30px 0;
      border-bottom: 3px solid white;
  }
  .hero nav{
    margin-top: 20px;
  }
  .hero nav a {
      text-decoration: none;
      color: white;
      font-size: 18px;
      padding: 10px 15px;
      border-radius: 5px;
      transition: all 0.3s ease;
  }
  .hero nav a:hover {
      background: gold;
      color: black;
  }
  #voltar{
  
      position: fixed;
  
      left: 10px;
      margin-top: 50px;
      background: gold;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      text-decoration: none;
      color: black;
      transition: 0.3s;
      z-index: 1000;
  } 
  #voltar:hover{
      color: white;

  }
  body {  
    background: #111;
    text-align: center;
    color: white;
  }
  .main{
   
    background: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .tela_dados{
    position: relative;
    width: 80%;
    height: 60%;
    padding: 30px;
    box-shadow: 2px 4px 8px rgba(255, 215, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .servico{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .barbeiro-id{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-alterar{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    display: flex;
    width: 80%;
    gap: 10px;
  }
  .alterar{
    background: gold;
    padding: 5px;
    border-radius: 5px;
  }
  .alterar a{
   text-decoration: none;
   font-size: 20px;
   color: black;
   transition: 0.3s;
    
  }
  .alterar a:hover{
    color: white;
  }
  .excluir{
      background: gold;
    padding: 5px;
    border-radius: 5px;
  }
  .excluir a{
    text-decoration: none;
   font-size: 20px;
   color: black;
   transition: 0.3s;
  }
  .excluir a:hover{
    color: white;
  }
  #concluido{
    position: absolute;
    top: 50px;
    
    
  }
  
p{
  font-size: 20px;
}