*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', bold, Sans-Serif;
  }
  #logo_name{
    width: 100px;
    margin-right: 40px;
  }
  body {
      background: #333; 
      color: #ffffff;
      text-align: center;
  }
  
  
  .comunicacao img {
      width: 50px;
      height: 50px;
      position: fixed;
      left: 0;
  }
  
  
  .hero {
      background: #111;
      padding: 30px 0;
      border-bottom: 5px solid white;
      animation: hero-animation 2s linear;
  }
  
  .hero h1 {
      font-size: 40px;
      font-weight: 600;
  }
  
  .hero nav {
      margin-top: 15px;
  }
  
  .hero nav a {
      text-decoration: none;
      color: white;
      font-size: 18px;
      padding: 10px 15px;
      border-radius: 5px;
      transition: all 0.3s ease;
  
  }
  
  .hero nav a:hover {
      background: gold;
      color: black;
  }
  
  #btn_agendamento {
      background: gold;
      color: black;
  }
  
  #btn_agendamento:hover {
      color: white;
  }
  

  .main_image {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 90vh;
      text-align: center;
      border-bottom: 5px solid white;
      overflow: hidden;
  }
  
  .main_image img {
      width: 200px;
      height: 200px;
  }
  
  .main_image::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../imagens/fundo.jpeg') center/cover no-repeat;
      filter: blur(5px); 
      z-index: -1;
  }
  
  .main_image::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7); 
      z-index: -1;
  }
  
  .text_second {
      position: absolute;
      bottom: 100px;
      color: white;
      font-size: 20px;
  }
  
  #logo_image {
      font-size: 50px;
      z-index: 1;
  }
  
  
  #servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      margin-top: 5px;
      background: #111;
     
      height: 70vh;
      text-align: center;
  }
  
  #servicos h2 {
      margin-top: 30px;
      color: white;
  }
  
  .cards-container {

  
    width: 70%;
    flex-direction: column;
      padding: 10px 0;
  }
  
  .cards {
      display: flex;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      padding: 10px;
      cursor: grab;
  }
  .card-container {

      background: #2a2a2a;
      padding: 10px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(255, 215, 0, 0.5);
      flex: 0 0 150px; 
      text-align: center;
      transition: 0.3s;
  }
  .card-container:hover{
    transform: scale(1.2);
  }
  .card {
      width: 90%; 
      height: 70px; 
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      border-radius: 10px;
      
  }
 
  .card img {
      width: 60px; 
      height: 60px; 
      
  }
  
  .card-name {
      font-size: 15px;
      margin-top: 10px;
      color: #fff;
  }
  
 
  #ver_mais {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      background: gold;
      color: black;
      text-decoration: none;
      font-weight: bold;
      border-radius: 5px;
      transition: 0.3s;
  }
  
  #ver_mais:hover {
     color: white;
  }
  #contato{
         border-top: 5px solid white;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         background: black;
         color: white; 
         height: 60vh;
         padding: 40px;
  }
   .contatos{
         margin-top: 50px;
         align-items: center;
         justify-content: center;
         display: flex;
         flex-direction: column;
         padding: 10px;
         width: 40%;
         border-radius: 10px;
         box-shadow: 0 8px 20px rgba(255, 215, 0, 0.5);
        }
       
        .contato_um a img{
          width: 58px;
          transition: 0.3s;
         }
         .contato_um a img:hover{
           transform: scale(1.2);
         }
         .contato_dois a img{    
          width: 55px;
          transition: 0.3s;
         }
         .contato_dois a img:hover{
          transform: scale(1.2);
         }
         .local{
          margin-top: 60px;
         }
         .local img{
          width: 300px;
         }    
         .alinhamento{
           display: flex;
           flex-direction: column;
           gap: 20px;
           align-items: center;
           justify-content: center;
         }
  
@media(max-width: 768px) {
    .hero {
          flex-direction: column; 
          text-align: center;  
          height: auto; 
          padding: 20px 0;
    }
    .hero nav {
         display: flex;
         flex-direction: column;
         gap: 10px;
    }
    .hero nav a {
         display: block;
         padding: 12px;
         width: 100%;
         text-align: center;
    }
    .main_image {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         max-height: 200vh;
         height: 100vh;
         padding: 20px 0;
    }

    .main_image img {
         max-width: 200px;
         width: 100%; 
         height: auto;
    }

    .text_second {
         font-size: 26px;
         bottom: 20px;
    }

    
    #contato { 
         border-top: 1px solid white;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         background: black;
         color: white; 
         height: 60vh;
    }  
    .contatos{
         align-items: center;
         justify-content: center;
         display: flex;
         flex-direction: column;
         gap: 40px;
         padding: 20px;
         width: 70%;
         border-radius: 10px;
         box-shadow: 0 8px 20px rgba(255, 215, 0, 0.5);
        }
        .contato_um a img{
          
          width: 58px;
          transition: 0.3s;
         }
         .contato_um a img:hover{
           transform: scale(1.2);
         }
         .contato_dois a img{
            
          width: 55px;
          transition: 0.3s;
         }
         .contato_dois a img:hover{
          transform: scale(1.2);
         }
         .local{
          margin-top: 60px;
         }
         .local img{
          width: 300px;
         }    
         .alinhamento{
           display: flex;
           gap: 50px;
         }
  #servicos{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #111;
    height: 100vh;
    text-align: center;

  }       
  #servicos h2{
    font-size: 40px;
  }
  /*serviços*/
  .cards-container {
    display: flex;
    flex-direction: column;
      padding: 10px 0;

      width: 40%;
  }
  
  .cards {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 10px;
      cursor: grab;
     
  }
  
  
  .card-container {
      background: #2a2a2a;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(255, 215, 0, 0.5);
      flex: 0 0 150px; 
      text-align: center;
      transition: 0.3s;
      
  }
  .card-container:hover{
    transform: scale(1.2);
  }
  .card {
      width: 100%; 
      height: 80px; 
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      border-radius: 10px;
      
  }
 
  .card img {
      width: 80px; 
      height: 80px; 
      
  }
  
  .card-name {
      font-size: 15px;
      margin-top: 10px;
      color: #fff;
  }
  
}  
#contato { 
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    color: white; 
    height: 60vh;
}

  @media (min-width: 768px) {
    .hero {
        background: #111;
        padding: 30px 0;
        border-bottom: 5px solid white;   
    }    
    .hero h1 {
        font-size: 40px;
        font-weight: 600;
    }   
    .hero nav {
        margin-top: 40px;
    }
    .hero nav a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 10px 15px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .hero nav a:hover {
        background: gold;
        color: black;
    }
    #contato{    
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    color: white; 
    height: 60vh; 
    }
    .contatos{
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 100px;
        padding: 15px;
        width: 30%;
        border-radius: 10px;
        box-shadow: 0 8px 20px rgba(255, 215, 0, 0.5);
       }
       .contato_um img{
         width: 50px;
        } 
        .contato_um p{
         margin-top: 10px;
        }
        .contato_dois p{
         margin-top: 10px;
        }
        .contato_dois img{
         width: 50px;
        }
        .local{
         margin-top: 60px;
        }
        .local img{
         width: 300px;
        }
    footer{
        border-top: 2px solid white;
        background: black;
        color: white;
    }
  }
  footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    border-top: 2px solid white;
    background: black;
    color: white;
}
  